[flake8]
ignore = E501,W503,W605,F811,F841,E722,E711,E131,E203,W292
exclude = Dockerfile
max-line-length = 119
per-file-ignores =
    dags/automated_reporting/developement_dags/rep_asb_google_analytics_dev.py: E128
